body,html{
    height: 100%;
}
.class1{
    height: 90px;
    width: 100%;
    background-color:maroon;
}
.class1>div:nth-of-type(n+2)
{
    float: right;
    margin-right: 30px;
    background-color: white;
}
.class1>div:nth-of-type(2){
    margin-bottom: 40px;
}
#img3{
    height: 300px;
    width: 150px;
}
#img1{
    height:40px;
    margin-top: 10px;
    width:90px;
}
.type{
    display:grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 250px 250px ;
    grid-gap:50px;
}
.type>div{
    margin-left: 20px;
    color: white;
}
.type1{
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 250px 250px ;
    grid-gap:50px;
}
.type1>div{
    margin-left: 100px;
    color: white;
}
.heading{
    font-size: 25px;
    text-align: center;
    padding:20px;
    text-decoration-line: underline;
    color: white;
}
.footer{
    /* height: 20px; */
    width: 100%;
    background-color: black;  
    color:white; 
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;
    grid-template-rows: 100px; 
}
.footer>div{
    padding:30px;
    margin-left: 50px;

}
.center{
    background-image:url(https://cdn.cnn.com/cnnnext/dam/assets/161031115151-italy-massive-earthquake-pleitgen-pkg-00010424-super-169.jpg);
    background-attachment: fixed;
    background-size: 100%;

}
.grid{
    display: grid;
    grid-template-columns: 140px 1000px 140px;
    grid-template-rows: 100%;
}
.class4{
    width: 150px;
    background-color: rgba(63, 10, 10, 0.877);
    height: 100%;
    float:left;
}
.class3{
    width: 150px;
    background-color:rgba(63, 10, 10, 0.877);
    height: 100%;
    float:right;
}