body,html{
    height: 100%;
    color: white;
}

table,tr,td,th{
    border: 3px solid black;
padding: 10px;
margin-left:300px;
font-size: 15px;
}
table{
    width:500px;
}
figcaption{
    text-align: center;
background-color:white;
}
.heading{
    font-size: 25px;
    text-align: center;
    padding:20px;
    text-decoration-line: underline;;
}
#img2{
    height: 400px;
    width: 100%;
    border:3px solid black;
}
#img3{
    height: 300px;
    width: 250px;
}
.grid{
    display: grid;
    grid-template-columns: 140px 1000px 140px;
    grid-template-rows: 100%;
}
.class1{
    height: 90px;
    width: 100%;
    background-color:maroon;
}
.class1>div:nth-of-type(n+2)
{
    float: right;
    margin-right: 30px;
    background-color: white;
}
.class1>div:nth-of-type(2){
    margin-bottom: 40px;
}

#img1{
    height:40px;
    margin-top: 10px;
    width:90px;
}
.class2{
    width: 150px;
    background-color: rgba(63, 10, 10, 0.877);
    height: 100%;
    float:left;
}
.class3{
    width: 150px;
    background-color:rgba(63, 10, 10, 0.877);
    height: 100%;
    float:right;
}
.class4{
    background-image:url(https://cdn.cnn.com/cnnnext/dam/assets/161031115151-italy-massive-earthquake-pleitgen-pkg-00010424-super-169.jpg);
    background-attachment: fixed;
    background-size: 100%;

}
.class5{
    display:flex;
    flex-direction: row;
}
.class5>div{
    flex-direction: row;
    padding:1px;
    border:1px solid red;

}

.video{
    width: 100%;    
}













































.footer{
    /* height: 20px; */
    width: 100%;
    background-color: black;  
    color:white; 
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;
    grid-template-rows: 100px; 
}
.footer>div{
    padding:30px;
    margin-left: 50px;

}
